/*.recipe{
    border-radius: 100 px !important;
    box-shadow: 0px 5px 20 px rgb(71, 71, 71)!important;
    margin: 20px!important;
    display: flex!important;
    flex-direction: column!important;
    justify-content: space-around!important;
    background: rgb(230, 48, 191) !important;
    align-items: center!important;
    min-width: 40%!important;
}

.image{
    border-radius: 50%!important;
    width: 100px!important;
    height: 100px!important;
}